/* global styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EXO", sans-serif;
}
/* smooth navigation */
html {
  scroll-behavior: smooth;
}
/* base font props */
body {
  font-size: 16px;
  line-height: 24px;
  color: black;
  height: 3000px;
}
.section {
  border-bottom: 3px solid black;
  scroll-margin: 54px;
  /* z-index: 3; */
}
.container {
  width: 82%;
  margin: auto;
}
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  border: 3px solid black;
}
/* common class properties */
.white-text {
  color: white;
}
.box-shadow1 {
  box-shadow: 5px 5px black;
  border: 4px solid black;
}
.box-shadow2 {
  color: green;
}
.fa-solid {
  margin-right: 5px;
}
.btn {
  position: relative;
  bottom: 5px;
  right: 5px;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  transition: 0.3s;
  background-color: transparent;
  padding: 20px 25px;
  font-size: 20px;
}
.floating-span {
  position: absolute;
  top: -10px;
  right: -5px;
  padding: 3px 6px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

.black-span {
  padding: 13px;
  font-weight: 700;
  background-color: black;
}
.card {
  position: relative;
  padding: 30px;
  gap: 20px;
  margin-bottom: 15px;
  transition: 0.5s;
  padding-block: 50px;
}
/* ?cards hover classes */
.card1:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px black;
}
.card2:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px black;
}
.card3:hover {
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px black;
}
.card1:hover h3 {
  color: #fb2c36;
}
.card2:hover h3 {
  color: #2b7fff;
}
.card3:hover h3 {
  color: #ad46ff;
}
/* paragraph in box styles  */
.pbox {
  background-color: white;
  color: black;
  box-shadow: 5px 5px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 30px;
  z-index: 1;
}

/* navbar styling */
.navbar {
  position: relative;
  z-index: 10;
}
.navbar .container {
  border: 2px solid;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar a {
  color: black;
  transition: 0.5s;
}
.navmenu a:hover {
  color: #ff7a6c;
}
.navbar .navtitle h1 {
  margin-top: 5px;
}
.navbar .navtitle h1 span {
  color: #ff6900;
}
.greystar {
  color: #d1d5dc;
  margin: 10px;
}

.navbar .navsub a {
  background-color: #ffd15b;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 900;
  transition: 0.8s;
  font-weight: 600;
  cursor: pointer;
}
.navbar .navsub a:hover {
  transform: translate(5px, 5px);
}
.nav-btn button:checked .nav-aside-container {
  background-color: red;
}
/* aside navbar styling */
.nav-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px black solid;
  transition: 0.3s;
  display: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  background-color: white;
}
/* effect on hover nav button */
.nav-btn:hover {
  transform: translateY(-5px);
}
/* .nav-aside  styling */
.nav-aside-container {
  /* width: 26; */
  width: 26%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0%;
  height: 100vh;
  /* background-color: rgb(255, 0, 0 ,0.5); */
  overflow: scroll;
  z-index: 100;
  /* display: none; */
  transition: 1s;
  
}
.nav-aside {
  /* z-index: 100; */
  /* opacity: 1; */
  /* width: 26%; */
  width: 100%;
  height: 100%;
  display: flex;
  border-left: black solid 5px;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  /* transform: translateX(100%); */
  transition: 1s;
  padding: 20px;
}
/* .nav-aside-container */

.aside-menu {
  padding-block: 20px;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-menu .aside-close a{
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  font-size: 20px;
  transition: 0.5s;
}
.aside-menu .aside-close a:hover{
  color: #ff6900;
  background-color: #e2aa82;
}

.nav-aside h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
}

.nav-aside .aside-links a {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-block: 20px;
  transition: 0.5s;
}
.nav-aside .aside-links a:hover{
  transform: translateY(-5px);
  color: #ff6900;
}

.nav-aside .aside-links button {
  background-color: #fdc700;
  width: 100%;
  padding: 10px;
  font-size: inherit;
  line-height: inherit;
  font-weight: 600;
}
.dark-layer{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
position: absolute;
inset: 0;
/* right: -100%; */
transition: 1s;
opacity: 0.5;
  z-index: 5;
}
/* hero section styling */
.hero {
  background-color: #fff085;
  padding-top: 150px;
  padding-bottom: 50px;
  border-bottom: 4px solid black;
  /* overflow: hidden; */
}
.hero .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* z-index: 2; */
  gap: 50px;
  /* justify-content: space-between; */
}
.hero .container .hero-content {
  width: calc(50% - 25px);
  z-index: 2;
}
/* squeres styling */
.square1st {
  width: 130px;
  height: 130px;
  background-color: #e5d877;
  position: absolute;
  top: 60px;
  left: 30px;
  transform-origin: bottom;
  transform: rotate(10deg);
}
.square2nd {
  width: 100px;
  height: 100px;
  background-color: #ffdc7c;
  position: absolute;
  top: 150px;
  right: 40px;
  transform-origin: bottom;
  transform: rotate(-45deg);
}
.square3rd {
  width: 120px;
  height: 120px;
  left: 30%;
  bottom: 20%;
  background-color: #e9e591;
  position: absolute;
  transform: rotate(50deg);
  z-index: 0;
}
.square4th {
  width: 150px;
  height: 150px;
  background-color: #e5bd2b;
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 100px;
  /* background-color: white; */
  transform: rotate(45deg);
  transform-origin: left;
}
.square5th {
  width: 130px;
  height: 130px;
  background-color: #ffc130;
  z-index: 0;
  left: 50px;
  bottom: 0;
  transform: rotate(30deg);
  transform-origin: right;
  position: absolute;
}
.hero h2 {
  font-size: 72px;
  text-shadow: red 2px;
  text-shadow: black 3px 3px;
  line-height: 90px;
  font-weight: 900;
}
.hero .container .herotrend {
  width: fit-content;
  padding: 13px;
  font-weight: 700;
  background-color: black;
  transform: rotate(-2deg);
  margin-bottom: 20px;
}
.hero .container .THOUGHTS {
  color: #e7000b;
}
.hero .container .BOLD {
  color: #155dfc;
}
.pbox {
  background-color: white;
  color: black;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  box-shadow: 5px 5px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.hero .butwatch {
  background-color: white;
}
.hero .butstart {
  background-color: black;
  margin-right: 20px;
}
.btn:hover {
  right: 0;
  bottom: 0;
  box-shadow: none;
}

/* hero img start */
.hero .heroright span {
  width: fit-content;
  background-color: red;
  transform: translateY(100px);
  position: absolute;
  right: 0;
  font-weight: 700;
  transform: rotate(10deg);
  z-index: 4;
  border: 2px solid black;
  padding: 10px 15px;
}
.hero .heroright {
  position: relative;
  transform: rotate(3deg);
  transition: 1s;
  text-align: center;
}
.hero .heroright img {
  position: relative;
  right: 0;
  bottom: 0;
  object-fit: cover;
  height: 50vh;
  width: 90vw;
  border: 5px solid black;
  transition: 0.5s;
}
.hero .heroright img:hover {
  position: relative;
  bottom: 5px;
  right: 5px;
  /* display: none; */
}

/* ! hero img end */

/* !articles styling start */

.articles {
  padding-block: 50px;
}
.articles .container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.articles .art-left {
  width: 63%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articles .container .art-right {
  width: 32%;
}
.articles .container .art-right .art-sticky {
  position: sticky;
  top: 0;
  height: fit-content;
}

.articles .container .art-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.articles .container .art-title span {
  padding: 10px 15px;
  transform: rotate(2deg);
  background-color: black;
}

.articles .container .art-title h3 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}

.articles .container .art-card {
  position: relative;
  padding: 30px;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  transition: 0.5s;
}

.articles .container .art-card p + p {
  display: flex;
  justify-content: space-between;
}
.articles .container .art-card-img {
  position: relative;
  width: 40%;
  margin-top: 10px;
}

.float1 {
  background-color: #fb2c36;
  transform: rotate(10deg);
}
.float2 {
  background-color: #2b7fff;
  transform: rotate(-10deg);
}
.float3 {
  background-color: #ad46ff;
  transform: rotate(40deg);
}

.articles .container .art-card h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.articles .container .art-card .art-card-footer :nth-child(4) {
  color: red;
}
.art-card p,
.art-card h3 {
  margin-block: 15px;
}
.articles .container .btn {
  background-color: black;
}
.articles .art-right .art-trend,
.art-right .art-categ {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
  margin-bottom: 30px;
}
.articles .art-right .art-trend div {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  cursor: pointer;
}
.articles .art-right .art-trend div h2 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 8px;
  font-weight: 900;
}

.art-trend :nth-child(2) h2 {
  color: #fb2c36;
}
.art-right .art-trend :nth-child(2):hover h3 {
  color: #fb2c36;
}
.art-trend :nth-child(3) h2 {
  color: #2b7fff;
}
.art-right .art-trend :nth-child(3):hover h3 {
  color: #2b7fff;
}
.art-trend :nth-child(4) h2 {
  color: #ad46ff;
}
.art-right .art-trend :nth-child(4):hover h3 {
  color: #ad46ff;
}
/* right last card style */
.articles .art-categ h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}

.articles .art-categ li {
  font-weight: 700;
}
.articles .art-categ li button {
  width: 100%;
  padding: 15px;
  text-align: left;
  border: 3px solid black;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 700;
  font-size: initial;
}
.articles .art-right ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}
.articles .art-categ ul .btn1 {
  background-color: #fef9c2;
}
.articles .art-categ ul .btn1:hover {
  background-color: #ffdf20;
}
.articles .art-categ ul .btn2 {
  background-color: #dbfce7;
}
.articles .art-categ ul .btn2:hover {
  background-color: #7bf1a8;
}
.articles .art-categ ul .btn3 {
  background-color: #fce7f3;
}
.articles .art-categ ul .btn3:hover {
  background-color: #fda5d5;
}
.articles .art-categ ul .btn4 {
  background-color: #dbeafe;
}
.articles .art-categ ul .btn4:hover {
  background-color: #8ec5ff;
}
.articles .art-categ ul .btn5 {
  background-color: #f3e8ff;
}
.articles .art-categ ul .btn5:hover {
  background-color: #dab2ff;
}
/* general button hover effects */
.articles .art-categ ul button:hover {
  box-shadow: 6px 6px 2px;
  position: relative;
  left: 5px;
  top: 5px;
  transform: translate(-8px, -8px);
}

/* !articles styling end */

/* !authors styling start */
.authers {
  background-color: #ffd230;
  padding-block: 50px;
  position: relative;
}
.authers .container {
  z-index: 1;
}
.section-head {
  text-align: center;
  margin-bottom: 100px;
}
.section-head p {
  font-size: 20px;
  margin: 50px auto;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  width: fit-content;
}
.section-head p::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  border: black 5px solid;
  width: 30%;
}
.section-head h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.authers .auth-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.authers .auth-cards .auth-card {
  width: 30%;
  position: relative;
  text-align: center;
}
.authers .auth-cards .auth-card img {
  width: 40%;
  margin: auto;
}
/* authers cards  styling*/
.authers .card1 {
  background-color: #fef9c2;
}
.authers .card2 {
  background-color: #dbfce7;
}
.authers .card3 {
  background-color: #fce7f3;
}
.authers .auth-card h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
}
.authers .auth-card h4 {
  font-weight: 700;
  color: #525252;
  margin: 10px;
}
.authers .auth-card p {
  line-height: 26px;
  font-weight: 400;
}
.authers a {
  padding: 10px 13px;
  margin: 10px;
  background-color: black;
  border: 1px solid black;
  color: #fff;
}
.authers .auth-card :last-child a:hover {
  transform: translate(-5px, -5px);
  box-shadow: 6px 6px black;
}
.authers .auth-card :last-child :nth-child(1):hover {
  background-color: #1da1f2;
}
.authers .auth-card :last-child :nth-child(2):hover {
  background-color: #155dfc;
}

.authers .auth-card :last-child :nth-child(3):hover {
  background-color: #e60076;
}
.authers .container .auth-card .fa-brands {
  background-color: transparent !important;
}

/* !authors styling end */

/* !community styling start */
.community {
  padding-block: 50px;
}
.community .comm-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.community .comm-cards .comm-all {
  width: 47.5%;
}
.community .comm-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.community .comm-left .btn {
  background-color: black;
  font-weight: 700;
}
.community .comm-left h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
}
.community .comm-left p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.community .comm-left .comm-p p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.community .comm-left .comm-p span {
  padding: 10px;
  font-size: 20px;
  line-height: 28px;
  margin-right: 10px;
  font-weight: 400;
  /* height: fit-content; */
  border: 2px solid black;
}
.community .comm-left .comm-p li {
  margin-bottom: 20px;
}
.fa-question {
  display: none;
}
.fa-exclamation {
  width: fit-content;
  border-radius: 50%;
  border: dotted white 3px;
  font-size: 14px;
  margin: auto;
  padding: 5px 10px;

  box-sizing: border-box;
}
/* icons backgtound colors */
.community .comm-left .comm-p :nth-child(1) span {
  background-color: #fb2c36;
}
.community .comm-left .comm-p :nth-child(2) span {
  background-color: #2b7fff;
}
.community .comm-left .comm-p :nth-child(3) span {
  background-color: #ad46ff;
}
.community .comm-left .comm-p :nth-child(4) span {
  background-color: #00c950;
}
.community .comm-right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.community .comm-right .comm-card {
  border: 2px solid black;
  padding: 20px;
}
.community .comm-right h2 {
  font-weight: 900;
}
.community .comm-right .comm-card-footer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.community .comm-right .comm-card-footer p {
  color: rgba(0, 0, 0, 0.5);
}
.comm-card1 {
  background-color: #fef2f2;
}
.comm-card2 {
  background-color: #eff6ff;
}
.comm-card3 {
  background-color: #faf5ff;
}
.community .comm-right .comm-img {
  width: 10%;
}

/* !community styling end */

/* !footer section  styling start  */
.footer {
  padding-block: 50px;
  background-color: black;
}

.footer .container .footer-top {
  padding-bottom: 50px;
  border-bottom: 5px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top .review {
  width: 35%;
}
.footer-top .categ {
  width: 15%;
  line-height: 24px;
}

.footer-top .news {
  width: 35%;
}

.footer .container span {
  border: 1px solid;
  width: fit-content;
  height: fit-content;
  padding: 10px 6px;
  margin-right: 10px;
  text-align: center;
  color: black;
  background-color: white;
}
.footer-top h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 900;
  margin-block: 20px;
}
.footer-top p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.footer-top h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  padding: 10px;
  margin-bottom: 15px;
}
.footer a {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.footer a:hover {
  color: #ffdf20;
}

.footer .container .footer-top input {
  width: 100%;
  padding: 10px 20px;
  border: white solid 1px;
  font-size: 18px;
  line-height: 28px;
  background-color: transparent;
  margin-block: 15px;
}
.footer-top placeholder {
  opacity: 0.7;
}
.footer .container .footer-top button {
  color: black;
  width: 100%;
  margin-block: 10px;
  box-shadow: 5px 5px 0px 5px rgb(253, 199, 0, 0.7);
  background-color: #ffdf20;
  border: #fdc700;
  font-weight: 700;
}
.footer .container .footer-top button:hover {
  background-color: #fdc700;
  transform: translate(5px 5px);
}
.footer-end {
  display: flex;
  justify-content: space-between;
  padding-block: 30px;
}
.copy-rights p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.footer .foot-links {
  display: flex;
  gap: 20px;
}

/* !footer section  styling end  */
